{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <h1>Création d'une formation</h1>
<div class="container">
    {{ include('formation/_form.html.twig') }}
</div>
    <a href="{{ path('formation_index') }}">back to list</a>
{% endblock %}
