{% extends 'base.html.twig' %}

{% block title %}Nouvelle News{% endblock %}

{% block body %}
    <h1>Création d'une news</h1>
<div class="container">
    {{ include('news/_form.html.twig') }}
</div>
    <a href="{{ path('news_index') }}">back to list</a>
{% endblock %}
